mat-panel-title {
    gap: 5px
}

mat-form-field {
    width: 100%;
}

mat-panel-description {
    justify-content: end;
}

.row-button {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}